<div id="outside" ng-controller="UserManagementController">
    <div id="overlay"><img src="img\spinner.gif" alt="Be patient..." /></div>
    <div class="row" id="inside">
        <form name="userForm" class="col-md-12 inputs">
            <div class="row form-group">
                <div class="label-floating col-md-4 col-xs-6">
                  <input placeholder="First Name" type="text" id="first_name" ng-model="first_name" class="form-control validate" required>
                </div>
                <div class="label-floating col-md-4 col-xs-6">
                  <input placeholder="Last Name" type="text" id="last_name" ng-model="last_name" class="form-control validate" required>
                  
                </div>
            </div>
            <div class="row form-group">
                <div class="label-floating col-md-4 col-xs-6">
                  <label for="username" id="username_lbl" >Username</label>
                  <input type="text" id="username" ng-model="username" class="validate form-control" disabled required>
                </div>
                <div class="col-md-4 col-xs-6">
                  <label for="corporate_role" id="role_lbl">Role</label>
                  <select class="form-control" ng-model="corporate_role" id="corporate_role" ng-options="corporate_role for corporate_role in roles" disabled>
                  </select>
                </div>
            </div>
            <div class="row form-group">
              <div class="label-floating col-md-4 col-xs-6">
                  <label for="email" id="email_lbl" >Email</label>
                  <input type="text" id="email" ng-model="email" class="validate form-control" disabled>
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-md-4 col-xs-6">
                  <label for="office" id="office_lbl">Office</label>
                  <select class="form-control" ng-model="office" id="office" ng-options="office.get('name') for office in offices track by office.id" disabled>
                  </select>
                </div>
            </div>
            <div class="row form-group">
              <h4>Password</h4>
              <div class="col-md-4 col-xs-6">
                  <input placeholder="Password" type="password" name="password" class="form-control label-floating " ng-model="password"/>
              </div> 
              <div class="col-md-4 col-xs-6">
                  <input placeholder="Confirm Password" type="password" name="confirmPassword" class="label-floating form-control" 
                         ng-model="confirmPassword" 
                         compare-to="password" />
                  <div ng-messages="userForm.confirmPassword.$error" class="error">
                    <div ng-message="compareTo" >Passwords do not match</div>
                  </div>
              </div>
            </div>
            <button id="saveUserBtn" class="btn btn-info btn-raised" type="submit" ng-click="saveUser(userForm)">Save Profile</button>
        </form>
        <div class="row form-group col-md-12">
            <h4>Managed Offices</h4>
            
            <div ng-repeat="managed_office in managed_offices">
                <managed-user-office is-add="false" user="extendedUser" managed-office="managed_office"></managed-user-office>
            </div>
            <h4>New Office</h4>
            <div>
              <managed-user-office is-add="true" user="extendedUser"></managed-user-office>
            </div>
        </div>
        
    </div>
</div>