<div id="outside" ng-controller="UserController">
    <div id="inside">

        <h3 class="text-center">Users</h3>
        
        <br>
        <div class="row inputs">
            
            <div  id="userSearch" class="form-group label-floating col-md-6 col-md-offset-2" role="search">
                <input type="text" class="form-control" placeholder="Search Users" ng-model="searchText">
            </div>
           
        </div>
        
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover">
                    <thead >
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Office</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td class="no-wrap"><user-text-fields field="User.FIRST_NAME" user="user.extUser"></user-text-fields></td>
                            <td class="no-wrap"><user-text-fields field="User.LAST_NAME" user="user.extUser"></user-text-fields></td>
                            <td class="no-wrap"><parse-user-fields field="User.USERNAME" parse-user="user.parseUser"></parse-user-fields></td>
                            <td class="no-wrap"><parse-user-fields field="User.EMAIL" parse-user="user.parseUser"></parse-user-fields></td>
                            <td><user-dropdowns field="User.CORPORATE_ROLE" user="user.extUser"></user-dropdowns></td>
                            <td><user-dropdowns field="User.OFFICE" user="user.extUser" offices="offices"></user-dropdowns></td>
                            <td>
                                <button class="btn btn-info btn-fab btn-fab-mini btn-fab-tiny " ng-click="officeEdit()" type="submit"\><i class="material-icons btn-check">attach_money</i></button>
                                <button class="btn btn-danger btn-fab btn-fab-mini btn-fab-tiny " ng-click="deleteUser(user)" type="submit"\><i class="material-icons btn-check">delete</i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div id="overlay"><img src="img\spinner.gif" alt="Be patient..." /></div>
            </div>
        </div>
        <div ng-if="isAdd" class="row">
            <div class="col-md-10 col-md-offset-1">
                <form name="addUserForm">
                    <table class="table table-striped table-hover">
                        <thead >
                        </thead>
                        <tbody>
                            <tr>
                                <td><input placeholder="First Name" type="text" id="first_name" ng-model="model.first_name" class="form-control validate" required></td>
                                <td><input placeholder="Last Name" type="text" id="last_name" ng-model="model.last_name" class="form-control validate" required></td>
                                <td><input placeholder="Username"  type="text" id="username" ng-model="model.username" class="validate form-control" required></td>
                                <td><input placeholder="Email" type="text" id="email" ng-model="model.email" class="validate form-control"></td>
                                <td>
                                    <select class="form-control" ng-model="model.corporate_role" id="corporate_role" ng-options="corporate_role for corporate_role in roles">
                                        <option value="" disabled selected>Role</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="model.office" id="office" ng-options="office.get('name') for office in offices track by office.id">
                                        <option value="" disabled selected>Office</option>
                                    </select>
                                </td>
                                <td><input placeholder="Password" type="password" name="password" class="form-control label-floating " ng-model="model.password"/></td>
                                <td><input placeholder="Confirm Password" type="password" name="confirmPassword" class="label-floating form-control" 
                                 ng-model="model.confirmPassword" 
                                 compare-to="model.password" /></td>
                                 <td>
                                     
                                 </td>
                                <td>
                                    <button class="btn btn-success btn-fab btn-fab-mini btn-fab-tiny " ng-click="saveUser(addUserForm)" type="submit"\><i class="material-icons btn-check">save</i></button>
                                    <div ng-messages="addUserForm.confirmPassword.$error" class="error">
                    <div ng-message="compareTo" >Passwords do not match</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="card-btn col-xs-1 col-md-1 col-md-offset-1">
                <a ng-click="addUser()" class="btn btn-warning btn-raised">Add</a>
        </div>
    </div>
    </div>


    
</div>